__pycache__/
*.py[cod]
*$py.class
*.so

build/
dist/
.eggs/
*.egg-info/
*.egg

#Node modules
node_modules/

# Virtual environments
venv/
env/
ENV/
.venv/

# Logs
backend/logs/

# Database files
*.db
backend/database/*.db
alembic

# Scratch files/folders
scratch/
start.bat
start.ps1

# Environment variables
.env
frontend/firebase-config.js

# IDEs
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Graphs
.codegraph
graphify-out/cache/